[run]
branch = True
source = hydrostats

[report]
exclude_lines =
    if __name__ == .__main__.:
ignore_errors = True
omit = tests/*, tests.py, /home/wade/GitHub/Hydrostats/hydrostats/Useful_Code_For_Hydrostats.py