default_stages: [pre-commit]

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check
        language: system
        types: [python]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: type-check
        name: Type Check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
