default_stages: [pre-commit]

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, master]
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check
        language: system
        types: [python]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format
        language: system
        types: [python]

      # - id: type-check
      #   name: Type Check
      #   entry: uv run ty check
      #   language: system
      #   types: [python]
      #   pass_filenames: false
